=============== 
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
obj/
.vs/
*.csproj
*.sln
*.suo
*.userprefs
*.unityproj


============
OS generated
============
.DS_Store
Thumbs.db
~*

本地缓存/
个人设置们/
临时文件们/
通讯Log/
公式计算Log/
数据备份/

Packs/Android/Export/
Packs/Android/Pack/
Packs/Android/Projects/Fake/bin/
Packs/Android/Projects/Fake/gen/
Packs/Android/Projects/Fake/assets/bin/
Packs/Android/Projects/Fake/assets/Datas/
Packs/Android/Projects/Play800/bin/
Packs/Android/Projects/Play800/gen/
Packs/Android/Projects/Play800/assets/bin/
Packs/Android/Projects/Play800/assets/Datas/
Packs/Android/Projects/YSDK/bin/
Packs/Android/Projects/YSDK/gen/
Packs/Android/Projects/YSDK/assets/bin/
Packs/Android/Projects/YSDK/assets/Datas/
Packs/Android/Projects/360/bin/
Packs/Android/Projects/360/gen/
Packs/Android/Projects/360/assets/bin/
Packs/Android/Projects/360/assets/Datas/
Packs/Android/Projects/Xiaomi/bin/
Packs/Android/Projects/Xiaomi/gen/
Packs/Android/Projects/Xiaomi/assets/bin/
Packs/Android/Projects/Xiaomi/assets/Datas/

Packs/iOS/Export/

Assets/Tools/ForceCompile/Editor/ForceCompile_.cs
Assets/Tools/ForceCompile/Editor/ForceCompile_.cs.meta
Assets/Tools/ScriptPaths/cache.json
Assets/Tools/ScriptPaths/cache.json.meta
Assets/ToolsA2/LookFor/Editor/LookForGUIWinMenus.cs
Assets/ToolsA2/LookFor/Editor/LookForGUIWinMenus.cs.meta
Assets/8_UI/Editor/Scenes/辅佐场景.unity
Assets/8_UI/Editor/Scenes/辅佐场景.unity.meta
Assets/9_Datas/Editor/数据/CheckChanges.cache
Assets/9_Datas/Editor/数据/CheckChanges.cache.meta
Assets/excel/excelMarks.json
Assets/excel/excelMarks.json.meta
Assets/Tools/DrawValues/Editor/拷贝.json
Assets/Tools/DrawValues/Editor/拷贝.json.meta
ProjectSettings/ProjectVersion.txt
Assets/5_Scripts/Managers/DataControl/Data/
Assets/5_Scripts/Managers/DataControl/Data.meta
Assets/CommonScripts/.gitignore
Assets/Resources/ress.json
Assets/Resources/ress.json.meta
Assets/Tools/Dependencies/Editor/nodes.json
Assets/Tools/Dependencies/Editor/nodes.json.meta
Assets/MapUI.prefab
Assets/MapUI.prefab.meta
Assets/EditorConfig/
Assets/EditorConfig.meta
1/
Assets/BundleBuild/Build.meta
Assets/BundleBuild/Build/
Assets/8_UI/5_BattleUI/BattleUI_3.0/mid_bar.mat
Assets/8_UI/5_BattleUI/BattleUI_3.0/mid_bar.mat.meta
Assets/.svn/
Packs/Android/Projects/.svn/
Assets/ToolsA2/Checks/Editor/mark.txt
Assets/ToolsA2/Checks/Editor/mark.txt.meta
Assets/ToolsA2/Checks/Editor/dirPaths.json
Assets/ToolsA2/Checks/Editor/dirPaths.json.meta
packages/
Assets/UnityVS/
Assets/UnityVS.meta
JavaTools/NewJavaHome.txt
JavaTools/bin/NewJavaHome.txt
Assets/excel/NoticeInGame(公告).xlsx.meta
Assets/Scripts/A2/Tools/ForceCompile/Editor/ForceCompile_.cs
Assets/Scripts/A2/Tools/ForceCompile/Editor/ForceCompile_.cs.meta
HIME_Client.csproj.user
t-qiutengfei.userproperties
Test_Data/
Test.exe
WinPixEventRuntime.dll
UnityPlayer.dll
Assets/jp.colopl.alice/

Assets/Res/NavigationResource/NavSceneData
Assets/Res/NavigationResource/NavSceneData.meta

Assets/Scripts/A2/Tools/DrawValues/Editor/拷贝.json
Assets/Scripts/A2/Tools/DrawValues/Editor/拷贝.json.meta

Assets/8_UI/5_BattleUI/BattleUI_3.0.meta
Assets/AssetBundles/StandaloneWindows/
Assets/StreamingAssets/
Assets/StreamingAssetsAll/
Assets/StreamingAssetsUpload/
Assets/ScriptLibrary/ConsolePro
Assets/ScriptLibrary/ConsolePro.meta

Assets/Res/EasyRoads3D/Editor/
Assets/Res/EasyRoads3D/lib/

Assets/6_Shaders/Editor/DefaultFileOpenApplication.cs
Assets/6_Shaders/Editor/DefaultFileOpenApplication.cs.meta

Assets/5_Scripts/UIFramework/Source/FWUIRootPartial.cs
Assets/5_Scripts/UIFramework/Source/FWUIRootPartial.cs.meta
Assets/9_Datas/Editor/数据/语音口型.meta
Assets/excel/ActivityList(活动列表)_.xlsx
Assets/excel/BannerContent(1banner资源时间表).xlsx
Assembly-CSharp.patch.bytes
Assets/8_UI/TalentUI.meta
Assets/Plugins/Android/
Logs/Packages-Update.log
ProjectSettings/UPRSettings.asset
Assets/UPRTools/
Assets/Scripts/A2/ToolsA2/Checks/Editor/mark.txt.meta
Assets/Scripts/A2/ToolsA2/Checks/Editor/mark.txt
Assets/Scripts/A2/ToolsA2/Checks/Editor/dirPaths.json.meta
Assets/Scripts/A2/ToolsA2/Checks/Editor/dirPaths.json
Assets/StreamingAssetsAll.meta
Assets/StreamingAssets.meta
Assets/UPRTools.meta
Assets/UPRLuaDeepProfilerAssetSetting.asset.meta
Assets/UPRLuaDeepProfilerAssetSetting.asset
Assets\Resources\ABItemList.asset
Assets/Resources/ABItemList.asset.meta
Assets/Resources/ABItemList.asset
